.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.progress-bar {
  background-color: #e0e0e0;
  height: 20px;
  width:50%;
  border-radius: 10px;
  position: relative;
  margin-top: 10px;
}

.progress {
  background-color: #00ff00;
  height: 100%;
  border-radius: 10px;
}

.border{
  border-style: solid;
  border-radius: 20px;
  width:30%;
 
}
